@import "bootstrap";

.navbar {
  background-color: black !important;
}

.nav-link {
  color: #fff !important;
}

.navbar-toggler {
  border-color: #d3d3d3;
}

.navbar-tggler-icon {
  border-color: #d3d3d3;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #d3d3d3;
}

/* Other Classes for Page Styling */

#jumbotron {
  background-image: asset-url("patrick-fore-0gkw_9fy0eQ-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}
